<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>NOUTSessionManager Bundle</title>
	{% block stylesheets %}
	{% endblock%}
</head>
<body>
<div class="container">
	<header>
		{% block header %}
		{% endblock %}
	</header>
	{% block containt %}
	{% endblock %}
	<footer>
		{% block footer %}© NOUTSessionManager Bundle{% endblock %}
	</footer>
</div>
{% block javascripts %}
{% endblock %}
</body>
</html>
