<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>NOUTSessionManager Bundle</title>
	{% block stylesheets %}
		<!-- icon -->
		<link rel="shortcut icon" href="{{ asset('bundles/noutsessionmanager/img/favicon.ico') }}" type="image/x-icon"/>
		<link rel="icon" href="{{ asset('bundles/noutsessionmanager/img/favicon.ico') }}" type="image/x-icon"/>

		<!-- feuille de style -->
		<link rel="stylesheet" href="{{ asset('bundles/noutsessionmanager/css/bootstrap.min.css') }}" />
	{% endblock%}
</head>
<body>
<div id="container">
	<header id="header">
		{% block header %}
		{% endblock %}
	</header>
	<div id="main">
		{% block main %}
		{% endblock %}
	</div>
	<footer id="footer">
		{% block footer %}© NOUTSessionManager Bundle{% endblock %}
	</footer>
</div>
{% block javascripts %}
	<!-- Latest compiled and minified JavaScript -->
	<script src="{{ asset('bundles/noutsessionmanager/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>
