<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>NOUTSessionManager Bundle</title>
	{% block stylesheets %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<style type="text/css">
			footer {
				margin-top: 1em;
				width:100%;
			}
		</style>
	{% endblock%}
</head>
<body>
<div class="container">
	<header>
		{% block header %}
		{% endblock %}
	</header>
	{% block containt %}
	{% endblock %}
	<footer>
		{% block footer %}© NOUTSessionManager Bundle{% endblock %}
	</footer>
</div>
{% block javascripts %}
{% endblock %}
</body>
</html>
