{% extends "NOUTOnlineBundle::layout.html.twig" %}

{% block containt %}
    <h2>Formulaire Connexion</h2>
    <div class="formLogin">
        {{ form(form) }}
    </div>
	{% if error is defined and error is not null %}
		<div>
			{{ error }}
		</div>
	{% endif %}
{% endblock %}